header {
    display: flex;
    justify-content: center;
    font-size: 36px;
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    background: cornsilk;
}

.lyrics {
    display: block;
    text-align: center;
    padding: 30px;
    
}

.source {
    padding: 20px;
    margin-bottom: 20px;
}